.Contact-Section{
    background-color: #144272;
    /* width: 97.5vw; */
    text-align: center;
    color: whitesmoke;
    
}
.contact-header {
    font-family: 'Amatic SC';
    font-size: 3vw;
}
.Footer-Link{
    text-decoration: none;
    display: block;
    color: whitesmoke;
}
.Footer-Link:hover{
    color: black;
}
.Footer-Name{
    font-family: 'Amatic SC';
    font-size: 3vw;
}
/**************************Countries************/
.Card-countries {
    width: 75vw;
    margin: 5% auto;
    border-style: none;
}

.countries-one-card:hover {
    transform: scale(1.1);
    cursor: pointer;

}

.countries-header {
    color:#144272;
    font-size: xx-large;
    margin: 4% 0%;
}

.card-img1 {
    height: 20vw;}

@media screen and (max-width: 770px) {
    .card-img1 {
        height: 100%;
    }
}




.card-text i {
    color: yellow;
}
.star{
    color: rgb(161, 161, 161) !important;
}